# Doing Astrophysics using Python

- "Doing Astrophysics using Python"
  - Instructor: Kinoshita Daisuke
  - Classroom: S4-202
  - Time: from 18:00 to 20:50 on Tuesday
  - Semester: 2nd semester of academic year 2023
    - from February 2024 to June 2024
  - Course web page: https://s3b.astro.ncu.edu.tw/appy_202402/
  - GitHub repository: https://github.com/kinoshitadaisuke/ncu_doing_astrophysics_using_python_202402

# Session 06: "Building and querying relational database using Python"

## 26 March 2024

## Instructor: Kinoshita Daisuke

# 0. Installation of Python interpreter

In [ ]:
# Run this cell to install Python 3.12

!apt update
!apt upgrade
!apt install python3.12 python3.12-dev python3.12-distutils libpython3.12-dev
!update-alternatives --install /usr/bin/python3 python3 /usr/bin/python3.12 1
!wget https://bootstrap.pypa.io/get-pip.py
!python3.12 get-pip.py

In [ ]:
# Run this cell to check the version of Python interpreter and pip command

!python --version
!pip --version

# 1. Downloading a set of sample Python scripts for this course

In [ ]:
# Run this cell to download a set of sample Python scripts for this course.

!git clone https://github.com/kinoshitadaisuke/ncu_doing_astrophysics_using_python_202402.git

In [ ]:
# Run this cell to move to the directory for this session.

%cd ncu_doing_astrophysics_using_python_202402/s05

In [ ]:
# Run this cell to show a list of files for this session.

!ls

# 2. SQLite

In [ ]:
# Install the command "sqlite3" if you do not have it.

!apt install sqlite3

In [ ]:
# Run this cell to check whether or not you have a command "sqlite3".

!which sqlite3

In [ ]:
# Run this cell to show the version of SQLite.

!sqlite3 --version

In [ ]:
# Run this cell to read the online manual of sqlite3.

!cat man.sqlite3

In [ ]:
# Run this cell to show available commands of SQLite.

!sqlite3 "" ".help"

In [ ]:
# Run this cell to the description of ".open" command.

!sqlite3 "" ".help .open"

# 3. Making a small database

## 3.1 Making a table

In [ ]:
# Run this cell to make a table for planets database.

!sqlite3 planet0.db "create table planet (name text primary key, mass real, diameter real, rotation_period real, orbital_period real, mean_temperature real, satellite integer, ring text, magnetic_field text);"

In [ ]:
# Run this cell to show a list of database tables stored in file "planet0.db".

!sqlite3 planet0.db ".tables"

In [ ]:
# Run this cell to show the structure of the table "planet".

!sqlite3 planet0.db ".schema"

In [ ]:
# Run this cell to show the structure of the table "planet".

!sqlite3 planet0.db ".schema --indent"

## 3.2 Adding data to table

In [ ]:
# Run this cell to add data of Mercury.

!sqlite3 planet0.db "insert into planet values ('Mercury', 3.30E23, 4.879E3, 1407.6, 88.0, 167, 0, 'No', 'Yes');"

In [ ]:
# Run this cell to add data of Venus.

!sqlite3 planet0.db "insert into planet values ('Venus', 4.87E24, 1.2104E4, -5832.5, 224.7, 464, 0, 'No', 'No');"

In [ ]:
# Run this cell to add data of Earth.

!sqlite3 planet0.db "insert into planet values ('Earth', 5.97E24, 1.2756E4, 23.9, 365.2, 15, 1, 'No', 'Yes');"

In [ ]:
# Run this cell to add data of Mars.

!sqlite3 planet0.db "insert into planet values ('Mars', 6.42E23, 6.792E3, 24.6, 687.0, -65, 2, 'No', 'No');"

In [ ]:
# Run this cell to add data of Jupiter.

!sqlite3 planet0.db "insert into planet values ('Jupiter', 1.898E27, 1.42984E5, 9.9, 4331, -110, 79, 'Yes', 'Yes');"

In [ ]:
# Run this cell to add data of Saturn.

!sqlite3 planet0.db "insert into planet values ('Saturn', 5.68E26, 1.20536E5, 10.7, 10747, -140, 82, 'Yes', 'Yes');"

In [ ]:
# Run this cell to add data of Uranus.

!sqlite3 planet0.db "insert into planet values ('Uranus', 8.68E25, 5.1118E4, -17.2, 30589, -195, 27, 'Yes', 'Yes');"

In [ ]:
# Run this cell to add data of Neptune.

!sqlite3 planet0.db "insert into planet values ('Neptune', 1.02E26, 4.9528E4, 16.1, 59800, -200, 14, 'Yes', 'Yes');"

## 3.3 Trying SQL queries

In [ ]:
# Run this cell to print all the columns for each record.

!sqlite3 planet0.db "select * from planet;"

In [ ]:
# Run this cell to print the header and all the columns for each record of the table.

!sqlite3 -header planet0.db "select * from planet;"

In [ ]:
# Run this cell to print the header and name, mass, diameter, and number of satellites of each planet.

!sqlite3 -header planet0.db "select name,mass,diameter,satellite from planet;"

In [ ]:
# Run this cell to print the header and name, mass, diameter, and number of satellites of each planet by fancy output format.

!sqlite3 -header -column planet0.db "select name,mass,diameter,satellite from planet;"

In [ ]:
# Run this cell to print the header and name, mass, diameter, number of satellites, existence of ring system, existence of global magnetic field of each planet by fancy output format.

!sqlite3 -header -column planet0.db "select name,mass,diameter,satellite,ring,magnetic_field from planet;"

In [ ]:
# Run this cell to print the header and name, mass, diameter, number of satellites, existence of ring system, existence of global magnetic field of each planet by fancy output format.

!sqlite3 -header planet0.db ".mode table" "select name,mass,diameter,satellite,ring,magnetic_field from planet;"

## 3.4 More about SQL queries

### 3.4.1 Sorting outputs using "order by"

In [ ]:
# Run this cell to sort outputs using "order by".

!sqlite3 -header -column planet0.db "select name,mass,diameter,satellite,ring,magnetic_field from planet order by diameter;"

In [ ]:
# Run this cell to sort outputs using "order by".

!sqlite3 -header -column planet0.db "select name,mass,diameter,satellite,ring,magnetic_field from planet order by diameter desc;"

### 3.4.2 Selecting outputs using "where"

In [ ]:
# Run this cell to select outputs using "where".

!sqlite3 -header -column planet0.db "select name,mass,diameter,satellite,ring,magnetic_field from planet where satellite >= 10;"

In [ ]:
# Run this cell to select outputs using "where".

!sqlite3 -header -column planet0.db "select name,mass,diameter,satellite,ring,magnetic_field from planet where magnetic_field is 'Yes';"

In [ ]:
# Run this cell to select outputs using "where".

!sqlite3 -header -column planet0.db "select name,mass,diameter,satellite,ring,magnetic_field from planet where mass > 1e+26 and diameter > 50000;"

## 3.5 Importing data from a CSV file

In [ ]:
# Run this cell to show the source code of the script.

!cat ai2023_s06_00_00.py

In [ ]:
# Run this cell to execute the script.

!python3.12 appy_s06_00_00.py

In [ ]:
# Run this cell to show downloaded CSV file.

!ls -lF *.csv

In [ ]:
# Run this cell to show file type of downloaded CSV file.

!file dwarf_planet.csv

In [ ]:
# Run this cell to show the contents of downloaded CSV file.

!cat dwarf_planet.csv

In [ ]:
# Run this cell to create a table.

!sqlite3 dwarf_planet.db "create table dwarfplanet (name text primary key, a real, e real, i real, perihelion real, aphelion real, P real, H real);"

In [ ]:
# Run this cell to find newly created database file.

!ls -lF *.db

In [ ]:
# Run this cell to find data type of database file.

!file dwarf_planet.db

In [ ]:
# Run this cell to find the structure of the table.

!sqlite3 dwarf_planet.db ".schema --indent"

In [ ]:
# Run this cell to show the description of the meta-command ".import".

!sqlite3 "" ".help .import"

In [ ]:
# Run this cell to import a CSV file to the database.

!sqlite3 dwarf_planet.db ".import --csv --skip 16 dwarf_planet.csv dwarfplanet"

In [ ]:
# Run this cell to try a SQL query.

!sqlite3 --header --column dwarf_planet.db "select * from dwarfplanet;"

In [ ]:
# Run this cell to try a SQL query.

!sqlite3 --header --column dwarf_planet.db "select name, a, e, i, H from dwarfplanet order by H;"

In [ ]:
# Run this cell to try a SQL query.

!sqlite3 --header --column dwarf_planet.db "select name, a, e, i, perihelion, aphelion from dwarfplanet order by aphelion desc;"

In [ ]:
# Run this cell to try a SQL query.

!sqlite3 --header --column dwarf_planet.db "select * from dwarfplanet where P > 300;"

## 3.6 Exporting database into a SQL file

In [ ]:
# Run this cell to show the description of ".dump" command.

!sqlite3 "" ".help .dump"

In [ ]:
# Run this cell to export the database into a SQL file.

!sqlite3 dwarf_planet.db ".dump" > dwarf_planet.sql

In [ ]:
# Run this cell to find newly created SQL file.

!ls -lF *.sql

In [ ]:
# Run this cell to find data type of SQL file.

!file dwarf_planet.sql

In [ ]:
# Run this cell to show the contents of SQL file.

!cut -b -80 dwarf_planet.sql

## 3.7 Reading a SQL file

In [ ]:
# Run this cell to read a SQL file and create a database file.

!sqlite3 dwarf_planet3.db ".read dwarf_planet.sql"

In [ ]:
# Run this cell to try a SQL query.

!sqlite3 --header --column dwarf_planet3.db "select * from dwarfplanet where i > 20 order by i desc;"

## 3.8 Exporting a database into a CSV file

In [ ]:
# Run this cell to show the description of ".once" command.

!sqlite3 "" ".help .once"

In [ ]:
# Run this cell to export a database into a CSV file.

!sqlite3 dwarf_planet3.db ".header on" ".mode csv" ".once new.csv" "select * from dwarfplanet;"

In [ ]:
# Run this cell to find newly created file.

!ls -lF *.csv

In [ ]:
# Run this cell to find data type of newly created file.

!file new.csv

In [ ]:
# Run this cell to show the contents of newly created file.

!cat new.csv

# 4. Constructing elements database

## 4.1 Downloading a CSV file

In [ ]:
# Run this cell to show the source code of the script.

!cat appy_s06_01_00.py

In [ ]:
# Run this cell to execute the script.

!python3.12 appy_s06_01_00.py

In [ ]:
# Run this cell to find newly downloaded file.

!ls -lF *.csv

In [ ]:
# Run this cell to find data type of newly downloaded file.

!file periodictable.csv

In [ ]:
# run this cell to show first 20 lines of newly downloaded file.

!head -20 periodictable.csv | cut -b -80

## 4.2 Creating a table for elements database

In [ ]:
# Run this cell to create a table for elements database.

!sqlite3 element.db "create table element (AtomicNumber integer primary key, Symbol text, Name text, AtomicMass real, CPKHexColor text, ElectronConfiguration text, Electronegativity real, AtomicRadius real, IonizationEnergy real, ElectronAffinity real, OxidationStates text, StandardState text, MeltingPoint real, BoilingPoint real, Density real, GroupBlock text, YearDiscovered text);"

In [ ]:
# Run this cell to check the structure of the table.

!sqlite3 element.db ".schema --indent"

## 4.3 Importing CSV file and constructing database

In [ ]:
# Run this cell to import a CSV file and add data to the database.

!sqlite3 element.db ".import --csv --skip 1 periodictable.csv element"

## 4.4 Trying SQL queries

In [ ]:
# Run this cell to try a SQL query.

!sqlite3 --header --column element.db "select Symbol, Name, AtomicMass, StandardState, MeltingPoint, BoilingPoint from element where StandardState is 'Liquid';"

In [ ]:
# Run this cell to try a SQL query.

!sqlite3 --header --column element.db "select AtomicNumber, Name, Symbol, StandardState, Density from element where Density >= 15.0 and Density != '' order by Density desc;"

In [ ]:
# Run this cell to try a SQL query.

!sqlite3 --header --column element.db "select Name, Symbol, StandardState, MeltingPoint, BoilingPoint from element where BoilingPoint < 300 order by BoilingPoint;"

# 5. Constructing a database from Bright Star Catalogue

## 5.1 Downloading the catalogue

In [ ]:
# Run this cell to show the source code of the script.

!cat appy_s06_02_00.py

In [ ]:
# Run this cell to execute the script.

!python3.12 appy_s06_02_00.py

In [ ]:
# Find newly downloaded file.

!ls -lF *.gz

In [ ]:
# Find data type of newly downloaded file.

!file bsc5.data.gz

In [ ]:
# Run this cell to show the source code of the script.

!cat appy_s06_02_01.py

In [ ]:
# Run this cell to execute the script.

!python3.12 appy_s06_02_01.py

In [ ]:
# Find newly downloaded file.

!ls -lF bsc5.*

In [ ]:
# Find data type of newly downloaded file.

!file bsc5.readme

In [ ]:
# Run this cell to show first 20 lines of newly downloaded file.

!head -20 bsc5.readme

## 5.2 Reading Bright Star Catalogue

In [ ]:
# Run this cell to show the source code of the script.

!cat appy_s06_02_02.py

In [ ]:
# Run this cell to execute the script.

!python3.12 appy_s06_02_02.py > bsc5_extracted.data

In [ ]:
# Run this cell to check extracted data.

!head -30 bsc5_extracted.data

## 5.3 Making a SQL file to generate a database

In [ ]:
# Run this cell to show the source code of the script.

!cat appy_s06_02_03.py

In [ ]:
# Run this cell to execute the script.

!python3.12 appy_s06_02_03.py

In [ ]:
# Run this cell to find newly created file.

!ls -lF *.sql

In [ ]:
# Run this cell to show the contents of newly created file.

!head -20 bsc5_makedb.sql | cut -b -80

## 5.4 Executing SQL file to make BSC database

In [ ]:
# Run this cell to execute SQL file.

!sqlite3 bsc5.db ".read bsc5_makedb.sql"

In [ ]:
# Run this cell to show the structure of the table.

!sqlite3 bsc5.db ".schema --indent"

## 5.5 Trying some SQL queries

In [ ]:
# Run this cell to try a SQL query.

!sqlite3 --header --column bsc5.db "select hr, name, ra_str, dec_str, vmag, sptype from bsc where vmag < 1.5 and vmag > -50 order by vmag;"

In [ ]:
# Run this cell to try a SQL query.

!sqlite3 --header --column bsc5.db "select hr, name, ra_str, dec_str, vmag, bv, parallax from bsc where parallax >= 0.2 order by parallax desc;"

In [ ]:
# Run this cell to try a SQL query.

!sqlite3 --header --column bsc5.db "select hr, name, ra_str, dec_str, glon, glat, vmag from bsc where glat > 85.0 order by glat desc;"

In [ ]:
# Run this cell to try a SQL query.

!sqlite3 --header --column bsc5.db "select hr, name, glon, glat, vmag, bv, sptype from bsc where sptype like '%O%V%' and sptype not like '%O%IV%' order by glat;"

# 6. Making a database from Hipparcos catalogue

## 6.1 Downloading Hipparcos catalogue

In [ ]:
# Run this cell to show the source code of the script.

!cat appy_s06_03_00.py

In [ ]:
# Run this cell to execute the script.

!python3.12 appy_s06_03_00.py

In [ ]:
# Run this cell to find newly downloaded file.

!ls -lF *.cat

In [ ]:
# Run this cell to find data type of newly downloaded file.

!file hip.cat

In [ ]:
# Run this cell to show first 20 lines of newly downloaded file.

!head -20 hip.cat

In [ ]:
# Run this cell to show the source code of the script.

!cat ai2023_s06_03_01.py

In [ ]:
# Run this cell to execute the script.

!python3.10 ai2023_s06_03_01.py

In [ ]:
# Run this cell to find newly downloaded file.

!ls -lF hip.*

In [ ]:
# Run this cell to find data type of newly downloaded file.

!file hip.readme

In [ ]:
# Run this cell to show first 20 lines of newly downloaded file.

!head -20 hip.readme

## 6.2 Reading Hipparcos catalogue

In [ ]:
# Run this cell to show the source code of the script.

!cat appy_s06_03_02.py

In [ ]:
# Run this cell to execute the script.

!python3.12 appy_s06_03_02.py > hip_extracted.data

In [ ]:
# Run this cell to find newly created file.

!ls -lF hip*

In [ ]:
# Run this cell to find data type of newly created file.

!file hip_extracted.data

In [ ]:
# Run this cell to show first 20 lines of newly created file.

!head -20 hip_extracted.data

## 6.3 Constructing SQLite database table using Python script

In [ ]:
# Run this cell to show the source code of the script.

!cat appy_s06_03_03.py

In [ ]:
# Run this cell to execute the script.

!python3.12 appy_s06_03_03.py

In [ ]:
# Run this cell to find newly created file.

!ls -lF hip*

In [ ]:
# Run this cell to find existing tables in file "hip.db".

!sqlite3 hip.db ".tables"

In [ ]:
# Run this cell to show the structure of the table in file "hip.db".

!sqlite3 hip.db ".schema --indent"

## 6.4 Adding data to table using Python script

In [ ]:
# Run this cell to show the source code of the script.

!cat appy_s06_03_04.py

In [ ]:
# Run this cell to execute the script.

!python3.12 appy_s06_03_04.py

In [ ]:
# Run this cell to show file size of the database file.

!ls -lF hip.db

In [ ]:
# Run this cell to check the database file by executing SQLite command-line program.

!sqlite3 --header --column hip.db "select hip, ra_hms, dec_dms, vmag, bv, parallax, sptype from hip where hip <= 10 order by hip;"

In [ ]:
# Run this cell to check the database file by executing SQLite command-line program.

!sqlite3 --header --column hip.db "select hip, ra_hms, dec_dms, vmag, bv, parallax, sptype from hip where parallax > 300 order by parallax desc;"

## 6.5 Trying a SQL query using Python script

In [ ]:
# Run this cell to show the source code of the script.

!cat appy_s06_03_05.py

In [ ]:
# Run this cell to execute the script.

!python3.12 appy_s06_03_05.py

## 6.6 Trying one more SQL query

In [ ]:
# Run this cell to show the source code of the script.

!cat appy_s06_03_06.py

In [ ]:
# Run this cell to execute the script.

!python3.12 appy_s06_03_06.py

# 7. Making asteroid orbit database

## 7.1 Downloading asteroid orbit catalogue

In [ ]:
# Run this cell to show the source code of the script.

!cat appy_s06_04_00.py

In [ ]:
# Run this cell to execute the script.

!python3.12 appy_s06_04_00.py

## 7.2 Reading asteroid orbit catalogue

In [ ]:
# Run this cell to show the source code of the script.

!cat appy_s06_04_01.py

In [ ]:
# Run this cell to execute the script.

!python3.12 appy_s06_04_01.py > mpcorb_extracted.data

In [ ]:
# Run this cell to find newly created file.

!ls -lF mpcorb*

In [ ]:
# Run this cell to find data type of newly created file.

!file mpcorb_extracted.data

In [ ]:
# Run this cell to show first 20 lines of newly created file.

!head -20 mpcorb_extracted.data

## 7.3 Constructing asteroid orbit database

In [ ]:
# Run this cell to show the source code of the script.

!cat appy_s06_04_02.py

In [ ]:
# Run this cell to execute the script.

!python3.12 appy_s06_04_02.py

In [ ]:
# Run this cell to find newly created file.

!ls -lF mpcorb*

In [ ]:
# Run this cell to find data type of newly created file.

!file mpcorb.db

In [ ]:
# Run this cell to find existing tables in file "mpcorb.db" using SQLite command-line program.

!sqlite3 mpcorb.db ".tables"

In [ ]:
# Run this cell to show the structure of the table.

!sqlite3 mpcorb.db ".schema --indent"

In [ ]:
# Run this cell to try a SQL query using SQLite command-line program.

!sqlite3 --header --column mpcorb.db "select designation,name,a,e,i,absmag from mpcorb where absmag < 3 and absmag > -100 order by absmag;"

## 7.4 Trying some SQL queries

In [ ]:
# Run this cell to show the source code of the script.

!cat appy_s06_04_03.py

In [ ]:
# Run this cell to execute the script.

!python3.12 appy_s06_04_03.py

In [ ]:
# Run this cell to show the source code of the script.

!cat appy_s06_04_04.py

In [ ]:
# Run this cell to execute the script.

!python3.12 appy_s06_04_04.py

# End of this notebook